LI {font-size:11pt; font-family:"arial","helvetica"; text-align:justify;}
#NAVIG{font-size:10pt;font-family:"arial","helvetica"; margin-left:7pt;text-align:left;}
#TITLE{font-size:11pt;font-family:"arial","helvetica"; font-weight:bold;margin-left:2pt; text-align:left;}
#TITLE2{font-size:9pt;font-family:"arial","helvetica"; font-weight:bold;margin-left:2pt;text-align:left;}
#COMMENT{font-size:10pt;font-family:"arial","helvetica"; margin-left:2pt; }
#SMALLTIT{font-size:10pt;font-family:"arial","helvetica"; text-align:center;}
P {font-size:11pt;font-family:"arial","helvetica"; margin-left:20pt;margin-right:20pt; text-align:justify; line-height:1.4;}
TT {font-size:12pt;font-family:"arial","helvetica"; }
H1 {font-size:30pt;font-family:"arial","helvetica"; color:darkgreen; text-align:center; }
H2 {font-size:25pt;font-family:"arial","helvetica"; color:darkgreen; margin-left:50pt }
H3 {font-size:20pt;font-family:"arial","helvetica"; color:darkgreen; margin-left:30pt }
H4 {font-size:15pt;font-family:"arial","helvetica"; color:darkgreen; margin-left:25pt }
TD {font-size:10pt;font-family:"arial","helvetica"; margin-left:3pt;}
#test {font-size:11pt;font-family:"arial","helvetica"; }   
